<header class="app-header">
  <form class="app-header-form">
    <fieldset [disabled]="appStore.loading()">
      <mat-form-field class="search-form-field" appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Search" [formControl]="searchControl" />

        @if (searchControl.value) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="appStore.resetFilters()">
            <mat-icon>
              <span class="material-symbols-outlined"> close </span>
            </mat-icon>
          </button>
        }
      </mat-form-field>
    </fieldset>
  </form>
</header>
