.main {
    padding-top: 120px;
}

.spinner-container {
    position: fixed;
    top: 120px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}