.hero-list-wrapper {
    width: 80%;
    display: block;
    margin: auto;
    padding-bottom: 70px;

    &-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
        padding: 20px;
        align-items: stretch;
        grid-gap: 20px;

        >* {
            width: 100%;
            aspect-ratio: 3/4;
        }
    }

    .hero-list-item {
        ::ng-deep {
            .mat-mdc-card-title {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

            .mat-mdc-card-header-text {
                overflow: hidden
            }

            .mdc-card__media {
                object-fit: cover;
                width: 100%;
            }

            .mat-mdc-card-title {}
        }
    }

    .hero-list-paginator {
        position: fixed;
        bottom: 20px;
        background: #ffe600;
        z-index: 10;
        padding: 10px;
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 10px;
        width: 80%;
        left: auto;
        right: auto;

        .totalResults {
            font-weight: bold;
        }

        .currentPage {
            display: flex;
            width: 30px;
            height: 30px;
            justify-content: center;
            align-items: center;
            background: #fff;
            border-radius: 50%;
        }
    }
}


@media(max-width:1129px) {
    .hero-list-wrapper {
        width: 90%;

        .hero-list-paginator {
            width: 100%;
            bottom: 0;
            right: 0;
        }
    }

    .hero-list-wrapper-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }


}